/* header */

html,
body {
  margin: 0;
}

.header {
  font-family: "Mochiy Pop One", sans-serif;
  background-color: lightblue;
  display: flex;
  flex-direction: row;
  height: 15em;
  align-items: center;
  justify-items: center;
}

header {
  width: 40%;
}

.title_link {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.logo {
  width: 200px;
  margin-left: 20px;
}

.title {
  margin-left: 15px;
}

a {
  text-decoration: none;
  color: darkorchid;
}

.nav_header {
  width: 60%;
  margin-left: -30px;
}

.nav_list {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  justify-content: space-evenly;
  width: 100%;
}

.link {
  font-size: 20px;
}

.link:hover {
  background-color: blue;
  border-radius: 15px;
  color: lightblue;
  padding: 10px;
  font-size: 2em;
}

/* footer */

.footer {
  background-color: black;
  height: 25vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}

.nav-bottom {
  align-items: center;
  display: flex;
  flex-direction: column;
}

.nav-button-bottom {
  margin: 10px;
}

.blink {
  color: white;
  text-decoration: none;
  list-style-type: none;
  height: 1em;
}

.blink:hover {
  color: lightblue;
}

.blink:active {
  color: orange;
}

.footer-info {
  color: white;
}

/* extra */

.fa {
  position: fixed;
  right: 10px;
  bottom: 10px;
  font-size: 3em;
  color: blue;
}

.fa:hover {
  color: red;
}

.fa:active {
  color: orange;
}
